<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- METAS -->
        <meta charset="utf-8" />
        <meta name="robots" content="index, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <!-- SEO METAS -->
        <meta property="og:url" content="<%=seo_url%>" />
        <meta property="og:type" content="<%=seo_type%>" />
        <meta property="og:image" content="<%=seo_image%>" />
        <meta property="og:title" content="<%=seo_title%>" />
        <meta property="og:site_name" content="<%=seo_sitename%>" />
        <meta property="og:description" name="description" content="<%=seo_description%>" />
        <!-- PRELOAD LINKS -->
        <!-- LINKS -->
        <link rel="canonical" href="https://vesters.tk/" />
        <link rel="shortcut icon" href="/static/img/KuZKYint1O.webp" />
        <!-- TITLE -->
        <title><%=seo_title%> - <%=seo_sitename%></title>
    </head>
    <body>
        <div class="wrapper">
            WORKS
        </div>
        <!-- SCRIPTS -->
    </body>
</html>
